@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

header {
    text-align: center;
    background: #37D500 0% 0% no-repeat padding-box;
    color: white;
    line-height: 70px;
    padding: 20px 10px;
    font-size: 60px;
    font-family: Jost, sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}


#submit {
    top: 801px;
    left: 625px;
    width: 671px;
    height: 142px;
    background: #37D500 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000099;
    border-radius: 71px;
    opacity: 0.5;
    text-align: cneter;
    font-size: 50px;
    font-family: Jost;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
}

#calories {
    top: 236px;
    left: 195px;
    width: 1530px;
    height: 50px;
    text-align: left;
    font-size: 50px;
    font-family: Jost;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: absolute;
    justify-content: space-between;
    display: flex;
}

#budget {
    top: 454px;
    left: 194px;
    width: 1530px;
    height: 68px;
    text-align: left;
    font-size: 50px;
    font-family: Jost;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    position: absolute;
    justify-content: space-between;
    display: flex;
}

// .slider::-webkit-slider-thumb {
//     -webkit-appearance: none;
//     -webkit-width: 40px;
//     -webkkit-height: 40px;
//     -webkit-background: white;
//     -webkit-border-radius: 50%;
//     appearance: none;
//     width: 40px;
//     height: 40px;
//     background: white;
//     border-radius: 50%;
//     border-color: red;
// }


// #calorieslider::-webkit-slider-runnable-track {
//     -webkit-appearance: none;
//     top: 328px;
//     left: 195px;
//     width: 1530px;
//     height: 10px;
//     -webkit-box-shadow: 0px 3px 6px #0000004D;
//     // border: 0.10000000149011612px solid #37D500;
//     box-shadow: 0px 3px 6px #0000004D;
//     border-radius: 35px;
//     opacity: 1;
//     position: absolute;
//     background: #37D500;
// }

// #budgetslider {
//     top: 546px;
//     left: 195px;
//     width: 1530px;
//     height: 10px;
//     background: #FFFFFF 0% 0% no-repeat padding-box;
//     box-shadow: 0px 3px 6px #0000004D;
//     border: 0.10000000149011612px solid #707070;
//     border-radius: 20px;
//     opacity: 1;
//     position: absolute;
//     background-color:  #37D500;
// }

#submit:hover {
    opacity: 1;
}

#OutputId1 {
    animation-name: numbers;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes numbers {
    from {
        transform: translateY(-10em);
    }
    to {
        transform: translateY(0);
    }
}

#calorieslider {
    top: 328px;
    left: 195px;
}

#budgetslider {
    top: 546px;
    left: 195px;
}

input[type="range"] { 
    width: 1530px;
    height: 40px;
    margin: auto;
    -webkit-appearance: none;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 40px;
    background: #37D500;
    box-shadow: -100vw 0 0 100vw  #37D500;
    border: 15px solid white; /* 1 */
    border-width: 5px;
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 50% !important;
    box-shadow: -100vw 0 0 100vw  #37D500;
    box-sizing: border-box;
}

::-ms-fill-lower { 
    background: #37D500;
}

::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip { 
    display: none;
}

// button {
//     animation: hover 0.5 ease-in 1;
// }

// @keyframes hover {
//     from {
//         opacity: 0.5;
//     }
//     to {
//         opacity: 1;
//     }
// }