@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');


#calories {
  top: 21%;
  left: 10%;
  width: 79.6875%;
  height: 15%;
  text-align: left;
  font-size: 320%;
  font-family: Jost;
  letter-spacing: 0%;
  color: black;
  opacity: 1;
  position: absolute;
  justify-content: space-between;
  display: flex;
}
#calorieslider {
    top: 38%;
    width: 79.6875%;
    height: 1%;
    left: 10%;
    display: flex;
    position: absolute;
}

#budget {
    top: 53%;
    left: 10%;
    width: 79.6875%;
    height: 15%;
    text-align: left;
    font-size: 320%;
    font-family: Jost;
    letter-spacing: 0%;
    color: #000000;
    opacity: 1;
    position: absolute;
    justify-content: space-between;
    display: flex;
}

#budgetslider {
    top: 70%;
    width: 79.6875%;
    height: 1%;
    left: 10%;
    display: flex;
    position: absolute;
}

#submit {
    width: 40%;
    height: 14%;
    top: 85%;
    bottom: 5%;
    left: 30%;
    background: #37D500;
    border-color: #37D500;
    box-shadow: -1px 4px 3px grey;
    border-radius: 71px;
    opacity: 0.50;
    text-align: center;
    font-size: 300%;
    font-family: Jost;
    letter-spacing: 0px;
    color: #FFFFFF;
    position: absolute;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

#submit:hover {
    opacity: 1;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
input[type="range"] { 
    // overflow: hidden;
    -webkit-appearance: none;
    background-color: #ddd;
    border-radius: 15px; /* iOS */
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color:#37D500;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px; /* 1 */
    height: 30px;
    box-shadow:-1px 3px 5px grey;
    background-color: #37D500; //inner circle colour
    // box-shadow: -79.6875% 0 0 79.6875% black;
    border: 15px solid white; /* 1 */
    border-width: 3px;
    border-radius: 50% !important;
}
}

/** FF*/
input[type="range"]::-moz-range-progress {
    background-color: #37d500; 
  }
  input[type="range"]::-moz-range-track {  
    background-color: #ddd;
  }
  /* IE*/
  input[type="range"]::-ms-fill-lower {
    background-color: #37d500; 
  }
  input[type="range"]::-ms-fill-upper {  
    background-color: #ddd;
  }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.button {
  background-color: #FFFFFF;
  padding: 10px 15px;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
}

.popup {
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  height: 250px;
  width: 500px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.building-wise .location-wise {
  margin: 20px auto;
  width: 50%;
  display: block;
  padding: 8px;
  border: 1px solid grey;
  

}