#result_count{
    top: 3%;
    left: 6%;
    position: absolute;
    margin: 0.75% 1% 1% 1%;
    font-family: Jost;
    font-weight: lighter;
    font-size: 225%;
    color: #A59595;

}
#back_button{
    font-size: x-large;
    text-align: center;
    top: 3%;
    left: 1%;
    height: 9%;
    width: 4.5%;
    position: absolute;
    background: #37D500 0% 0% no-repeat padding-box;
    color: #FFFFFF;

    box-shadow: 0px 3px 6px #00000099;
    border-radius: 19px;
    opacity: 1;
}

#results{
    margin-top: 9%;
    display: flex;
    flex-direction: column;
    max-width: 90%;
    min-width: 90%;
    left: 8%;
    top: 3%;
    position: absolute;
}

#detail_container{
    display: table-column;
    padding-left: 1%;
    max-width: 100%;
    min-width: 100%;
    max-height: 25%;
    min-height: 25%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000080;
    border: 0.10000000149011612px solid #707070;
    border-radius: 15px;
    margin-bottom: 2.5%;
    overflow: hidden;
}
#plan_container{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    opacity: 1;
    position: relative;
    overflow: scroll;
}

#plan_container::-webkit-scrollbar{
    display:none;
}

#location_count{
    position: relative;
    font-family: Jost;
    top: 0.5%;
    font-size: large;
    margin-left: 1%;
}
#food_img{
    border: 0.10000000149011612px solid #707070;
    max-height: 160px;
    max-width: 160px;
    min-height: 40px;
    object-fit: scale-down;
    position: relative;
    margin-right:0.3%;
    border-radius: 15px;
}

#calories{
    position: relative;
    margin: 1% 1% 0% 2%;
    font-size: larger;
    font-family: Jost;
}
#bottom_line{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    font-family: Jost;
    font-size: larger;
    height: 1%;
    width: 95%;
    margin-bottom: 0.5%;
    margin-left: 2%;
}
#price{
    position: relative;
    font-family: Jost;
    margin-top: 0.5%;
    margin-bottom: 0%;
}
#learn_more{
    position: relative;
    color: #37D500;
    margin-top: 1%;
    margin-bottom: 0%;
    text-decoration: none;
    font: Heavy 30px/41px Jost;
    text-decoration-thickness: 100%;
    letter-spacing: 0px;
    opacity: 1;
    left: 88%;
}